<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0">
	<notifications newPostNotificationTemplateId="e9e8e709-3182-6295-a7f2-ff00006904fe" newThreadNotificationTemplateId="eae8e709-3182-6295-a7f2-ff00006904fe" />
</forumsConfig>