<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0" projectName="RIVET" dateCreated="2015-04-22 13:20:39Z">
	<defaultSite id="6aca99a8-202c-4390-ae03-a4c94d8771f3" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" />
</projectConfig>